<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tudou.oa.rpc.mapper.OaUserMapper">

    <!-- 权限 -->
    <resultMap id="OaUserResultMap" type="com.tudou.oa.dao.othermodel.OaUser">

        <id column="user_ud" jdbcType="INTEGER" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="realname" jdbcType="VARCHAR" property="realname"/>
        <result column="company_mobile" jdbcType="VARCHAR" property="companyMobile"/>
        <result column="company_email" jdbcType="VARCHAR" property="companyEmail"/>
        <result column="flower_name" jdbcType="VARCHAR" property="flowerName"/>
        <result column="work_num" jdbcType="VARCHAR" property="workNum"/>
        <result column="organization" jdbcType="VARCHAR" property="organization"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
        <result column="id_number" jdbcType="VARCHAR" property="idNumber"/>
        <result column="id_address" jdbcType="VARCHAR" property="idAddress"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>

        <result column="sex" jdbcType="TINYINT" property="sex"/>

        <result column="locked" jdbcType="TINYINT" property="locked"/>

        <result column="ctime" jdbcType="BIGINT" property="ctime"/>

    </resultMap>

    <select id="selectOaUserList" parameterType="com.tudou.oa.dao.othermodel.OaUser" resultMap="OaUserResultMap">
        SELECT u.user_id,u.username,u.realname,u.sex,u.locked,u.ctime,ou.company_mobile,ou.company_email,ou.flower_name,ou.work_num,(CASE WHEN uo1.name IS NOT NULL THEN uo1.name ELSE uo.name END) organization, uo.name department,ur.name role,ou.id_number,ou.id_address,u.email
        FROM upms_user u
        LEFT JOIN oa_user_details ou ON u.user_id = ou.user_id
        LEFT JOIN upms_user_organization uuo ON u.user_id = uuo.user_id
        LEFT JOIN upms_organization uo ON uuo.organization_id = uo.organization_id
        LEFT JOIN upms_organization uo1 ON uo.fid = uo1.organization_id
        LEFT JOIN upms_user_role uur ON uur.user_id = u.user_id
        LEFT JOIN upms_role ur on ur.role_id = uur.role_id
        GROUP BY u.user_id
    </select>


</mapper>