<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tudou.oa.dao.mapper.OaViewUserMapper">
  <resultMap id="BaseResultMap" type="com.tudou.oa.dao.model.OaViewUser">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="locked" jdbcType="TINYINT" property="locked" />
    <result column="ctime" jdbcType="BIGINT" property="ctime" />
    <result column="company_mobile" jdbcType="VARCHAR" property="companyMobile" />
    <result column="company_email" jdbcType="VARCHAR" property="companyEmail" />
    <result column="flower_name" jdbcType="VARCHAR" property="flowerName" />
    <result column="work_num" jdbcType="VARCHAR" property="workNum" />
    <result column="organization" jdbcType="VARCHAR" property="organization" />
    <result column="organization_id" jdbcType="VARCHAR" property="organizationId" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="department_id" jdbcType="VARCHAR" property="departmentId" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="role_id" jdbcType="CHAR" property="roleId" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="id_address" jdbcType="VARCHAR" property="idAddress" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, username, realname, sex, locked, ctime, company_mobile, company_email, flower_name, 
    work_num, organization, organization_id, department, department_id, role, role_id, 
    id_number, id_address, email, phone
  </sql>
  <select id="selectByExample" parameterType="com.tudou.oa.dao.model.OaViewUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oa_view_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.tudou.oa.dao.model.OaViewUserExample">
    delete from oa_view_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tudou.oa.dao.model.OaViewUser">
    insert into oa_view_user (user_id, username, realname, 
      sex, locked, ctime, 
      company_mobile, company_email, flower_name, 
      work_num, organization, organization_id, 
      department, department_id, role, 
      role_id, id_number, id_address, 
      email, phone)
    values (#{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{sex,jdbcType=TINYINT}, #{locked,jdbcType=TINYINT}, #{ctime,jdbcType=BIGINT}, 
      #{companyMobile,jdbcType=VARCHAR}, #{companyEmail,jdbcType=VARCHAR}, #{flowerName,jdbcType=VARCHAR}, 
      #{workNum,jdbcType=VARCHAR}, #{organization,jdbcType=VARCHAR}, #{organizationId,jdbcType=VARCHAR}, 
      #{department,jdbcType=VARCHAR}, #{departmentId,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR}, 
      #{roleId,jdbcType=CHAR}, #{idNumber,jdbcType=VARCHAR}, #{idAddress,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tudou.oa.dao.model.OaViewUser">
    insert into oa_view_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="locked != null">
        locked,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="companyMobile != null">
        company_mobile,
      </if>
      <if test="companyEmail != null">
        company_email,
      </if>
      <if test="flowerName != null">
        flower_name,
      </if>
      <if test="workNum != null">
        work_num,
      </if>
      <if test="organization != null">
        organization,
      </if>
      <if test="organizationId != null">
        organization_id,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="idAddress != null">
        id_address,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="phone != null">
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="locked != null">
        #{locked,jdbcType=TINYINT},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=BIGINT},
      </if>
      <if test="companyMobile != null">
        #{companyMobile,jdbcType=VARCHAR},
      </if>
      <if test="companyEmail != null">
        #{companyEmail,jdbcType=VARCHAR},
      </if>
      <if test="flowerName != null">
        #{flowerName,jdbcType=VARCHAR},
      </if>
      <if test="workNum != null">
        #{workNum,jdbcType=VARCHAR},
      </if>
      <if test="organization != null">
        #{organization,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null">
        #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=CHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="idAddress != null">
        #{idAddress,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tudou.oa.dao.model.OaViewUserExample" resultType="java.lang.Long">
    select count(*) from oa_view_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update oa_view_user
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.realname != null">
        realname = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=TINYINT},
      </if>
      <if test="record.locked != null">
        locked = #{record.locked,jdbcType=TINYINT},
      </if>
      <if test="record.ctime != null">
        ctime = #{record.ctime,jdbcType=BIGINT},
      </if>
      <if test="record.companyMobile != null">
        company_mobile = #{record.companyMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.companyEmail != null">
        company_email = #{record.companyEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.flowerName != null">
        flower_name = #{record.flowerName,jdbcType=VARCHAR},
      </if>
      <if test="record.workNum != null">
        work_num = #{record.workNum,jdbcType=VARCHAR},
      </if>
      <if test="record.organization != null">
        organization = #{record.organization,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationId != null">
        organization_id = #{record.organizationId,jdbcType=VARCHAR},
      </if>
      <if test="record.department != null">
        department = #{record.department,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentId != null">
        department_id = #{record.departmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.role != null">
        role = #{record.role,jdbcType=VARCHAR},
      </if>
      <if test="record.roleId != null">
        role_id = #{record.roleId,jdbcType=CHAR},
      </if>
      <if test="record.idNumber != null">
        id_number = #{record.idNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.idAddress != null">
        id_address = #{record.idAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update oa_view_user
    set user_id = #{record.userId,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      realname = #{record.realname,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=TINYINT},
      locked = #{record.locked,jdbcType=TINYINT},
      ctime = #{record.ctime,jdbcType=BIGINT},
      company_mobile = #{record.companyMobile,jdbcType=VARCHAR},
      company_email = #{record.companyEmail,jdbcType=VARCHAR},
      flower_name = #{record.flowerName,jdbcType=VARCHAR},
      work_num = #{record.workNum,jdbcType=VARCHAR},
      organization = #{record.organization,jdbcType=VARCHAR},
      organization_id = #{record.organizationId,jdbcType=VARCHAR},
      department = #{record.department,jdbcType=VARCHAR},
      department_id = #{record.departmentId,jdbcType=VARCHAR},
      role = #{record.role,jdbcType=VARCHAR},
      role_id = #{record.roleId,jdbcType=CHAR},
      id_number = #{record.idNumber,jdbcType=VARCHAR},
      id_address = #{record.idAddress,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>